* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.greeting {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  color: #fa44bd;
  transition: all 0.3s ease-in-out;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 12px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  margin: 20px 0;
  padding: 0 10px;
  color: #fff;
  transition: all 1.2s ease;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  
  img {
    max-width: 80%;
  }
  
  p {
    font-size: 18px;
  }
}
.card {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 600px;
  text-align: center;
  transition: all 0.9s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  background-color: #fa44bd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 30px;
  width: 50%;
}

.card:hover h1 {
  color: white;
}

.card:hover p{
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  margin: 20px 0;
  padding: 0 10px;
  color: #333;
}







