body {
    background: linear-gradient(45deg, #ff8a00, #e52e71, #89216b);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Dodane dla efektu parallax */
    perspective: 1000px; /* Dodane dla efektu parallax */
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.7s ease, box-shadow 0.7s ease; /* Dodane efekty przejścia */
  }
  
  .container:hover {
    transform: scale(1.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Dodany efekt cienia po najechaniu */
  }
  
  .container:hover img {
    opacity: 0.8;
  }
  
  .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.7s ease;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
    transform: translateZ(50px); /* Dodane dla efektu parallax */
  }
  
  button {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #myButton:hover {
    background-color: #e8e8e8;
  }
  
  #myButton:focus {
    outline: none;
  }
  
  #myDialog {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
  }
  
  #myDialog.active {
    opacity: 1;
    display: block;
  }
  
  
  

  #myDialog p {
    margin: 0;
    font-size: 18px;
  }
  
  