*
{
    font-family: 'Courier New', Courier, monospace;
}

header
{
	width: 100%;
	float:left;
	background-color: rgb(170, 241, 128);
	text-align: center;
}

nav
{
	width: 30%;
	float: left;
	background-color: rgb(230, 230, 230);
	height: 765px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main
{
	width: 70%;
	float:left;
	background-color: lightyellow;
	height: 765px;
}
div
{
	background-color: white;
	border: 5px outset brown;
	text-align: center;
	margin: auto;
	width: 80%;
	margin-bottom: 10%;
}